# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
venv/
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

# Misc
internal/
.DS_Store
Thumbs.db
*.log
site/

# Testing
.pytest_cache/
.coverage
.coverage.*
coverage.xml
coverage.json
htmlcov/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
crash.log
override.tf
override.tf.json
*.tfvars

