apiVersion: v1
kind: Namespace
metadata:
  name: chaos-demo
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: chaos-config
  namespace: chaos-demo
data:
  config.yaml: |
    agent:
      interval_seconds: 15
      dry_run: false

    failures:
      cpu:
        enabled: true
        duration_seconds: 8
        probability: 0.4
        cores: 2

      memory:
        enabled: false
        duration_seconds: 10
        probability: 0.2
        mb: 300

      process:
        enabled: true
        target_name: "target-app"
        probability: 0.5

      network:
        enabled: true
        interface: "eth0"
        delay_ms: 500
        duration_seconds: 12
        probability: 0.3
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: resilient-app
  namespace: chaos-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: resilient-app
  template:
    metadata:
      labels:
        app: resilient-app
    spec:
      shareProcessNamespace: true
      containers:
        - name: target-app
          image: target-app:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8080

        - name: chaos-agent
          image: py-chaos-agent:latest
          imagePullPolicy: Never
          volumeMounts:
            - name: config
              mountPath: /app/config.yaml
              subPath: config.yaml
            - name: logs
              mountPath: /var/log/chaos-agent
          securityContext:
            capabilities:
              add: ["NET_ADMIN"] # Required for tc
          ports:
            - containerPort: 8000 # metrics
          env:
            - name: LOG_LEVEL
              value: INFO
            - name: JSON_LOGS
              value: "true"
            - name: LOG_FILE
              value: "/var/log/chaos-agent/agent.log"
            - name: HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name

      volumes:
        - name: config
          configMap:
            name: chaos-config
        - name: logs
          emptyDir: {}
